<%- include("partials/header.ejs") %>

    <body>
        <div class="signup-container">
            <h1 class="greeting-message">Create an account</h1>
            <a class="btn signup-btn" href="/auth/google" role="button"><img src="assets\Google__G__logo.svg" /><span
                    class="signup-text">Sign Up
                    With Google</span></a>
        </div>
    </body>
    <%- include("partials/footer.ejs") %>